# This is a simple .gitignore that will ignore everything
# except this file, and c and h files

#ignore everything
*
*/

#unignore .c, .h, Makefile, and .sh and this file, and the README
!.gitignore
!README.md
!*.c
!*.h
!*.sh
!Makefile
